body {
    color: #666 !important;
    // background: linear-gradient(top, rgba(254, 252, 234, 0.6) 0%, rgba(241, 218, 54, 0.6) 80%) no-repeat fixed,
    //             image-url("bgimage/bgforest.jpg") no-repeat fixed !important;
    background: #b6d8b6 image-url("bgimage/forest.gif") repeat-x bottom left fixed !important;

    .btn-primary {
        color: #fff !important;
        border-radius: 20px;
        border: transparent;
        background: #6ad1c8;

        &:hover {
            background: #81e4dc;
        }
    }

    a:hover {
        background: transparent;
    }
}